// Site Attr.

$site-width: 1600px;
$site-gutter: 10%;


// Font Attr.
$base-font: 16px;
$font-family: 'Didact Gothic', 'Assistant', Helvetica, Arial, sans-serif;
$font-size-h1: 2.3rem;
$font-size-h2: 2.1rem;
$font-size-h3: 1.8rem;